body {
    font-family: 'Kanit', sans-serif;
    background-color: #9D9D9D; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}



.game-title {
    text-align: center;
    margin-bottom: 20px;
}

.game-title h1 {
    font-size: 50px;
    color: #000; 
}


.game {
    display: flex;
    align-items: center;
    width: 50%; 
    justify-content: space-between;
}

.left-side,
.right-side {
    text-align: center;
}


.left-side h2,
.right-side h2 {
    margin: 0;
    font-size: 30px; 
    color: #000; 
}



img {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 10px solid #000;
    border-radius: 15px; 
}


.buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    
}

button {
    background-color: #000; 
    color: #fff; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
}


button:hover {
    background-color: #333; 
}

img[src*="heart"] {
    border-color: #ff0000;

}
p{
    font-size: 60px;
}